.container.black-text
    form(method="post", action="/login/signin")
        .row
            .col.s4.input-field
                input(type="text", id="username", name="username")
                label(for="username") Username
            .col.s4.input-field
                input(type="password", id="password", name="password")
                label(for="password") Password
            .col.s4.input-field
                button(type="submit", class="waves-effect waves-light btn") Log In