script(src="https://cdn.firebase.com/libs/firebaseui/2.2.0/firebaseui.js")
link(type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.2.0/firebaseui.css")
script.
    var uiConfig = {
        signInSuccessUrl: '/',
        signInOptions: [
            firebase.auth.EmailAuthProvider.PROVIDER_ID
        ],
        tosUrl: '/'
    };

    var ui = new firebaseui.auth.AuthUI(firebase.auth());
    ui.start('#firebaseui-auth-container', uiConfig);
.container.black-text
    form(method="post", ng-submit="login()", ng-controller="loginController")
        .row
            #firebaseui-auth-container