extends layout

block content
      .container
          .row
          .row
              .col.s5
                  .card.hoverable
                      .card-content
                          span.card-title Why Gro?
                          p We believe a person learns the most from mentors who have already achieved what that person aspires to achieve. But
                          | it's not always easy or possible to find or reach out to these people. So we've created an app with the sole purpose of
                          | connecting those who want to learn with those who want to teach.
          .row
              .col.s7
              .col.s5
                  .card.hoverable
                      .card-content
                          span.card-title Want to play a game?
                          p With Gro you have a level that represents how much you've learned through the app. You gain points by conversing with
                          | your mentors, colleagues and students. There are five levels to earn in any category and each level becomes harder and
                          | harder to attain, but those with perseverence will have little problem reaching their goals.
          .row
              .col.s5
                  .card.hoverable
                      .card-content
                          span.card-title Why Mentor?
                          p Some learn by seeing, some learn by doing, but most everyone learns by teaching. Both mentor and student
                          | will gain experience from their sessions, but while students and colleagues will gain significant points in their
                          | roles, mentors gains points faster than anybody else.