doctype html
html(ng-app="root")
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=1, minimum-scale=1")
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="/javascripts/jquery-3.1.1.min.js")
        script(src="/javascripts/angular.min.js")
        script(src="/javascripts/root.js")
        script(src="/javascripts/materialize-src/bin/materialize.min.js")
        script(src="https://cdn.firebase.com/libs/firebaseui/2.2.0/firebaseui.js")
        link(type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.2.0/firebaseui.css")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js")
        script(src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js")
        script.
            var config={
                apiKey: "AIzaSyDpYA6KUAEsMX_SbpTGA5PJjT_F09quMls",
                authDomain: "gro-project.firebaseapp.com",
                databaseURL: "https://gro-project.firebaseio.com",
                projectId: "gro-project",
                storageBucket: "gro-project.appspot.com",
                messagingSenderId: "870268988730",
                serviceAccount: "./Gro-Project-f55952e9a1c0.json"
            };
            firebase.initializeApp(config);
        script.
            initApp = function() {
                firebase.auth().onAuthStateChanged(function(user) {
                    if (user) {
                        // User is signed in.
                        var displayName = user.displayName;
                        var email = user.email;
                        var emailVerified = user.emailVerified;
                        var photoURL = user.photoURL;
                        var uid = user.uid;
                        var phoneNumber = user.phoneNumber;
                        var providerData = user.providerData;
                        
                        user.getToken().then(function(accessToken) {
                            document.getElementById('sign-in-status').textContent = 'Signed in';
                            document.getElementById('sign-in').textContent = 'Sign out';
                            document.getElementById('account-details').textContent = JSON.stringify({
                                displayName: displayName,
                                email: email,
                                emailVerified: emailVerified,
                                phoneNumber: phoneNumber,
                                photoURL: photoURL,
                                uid: uid,
                                accessToken: accessToken,
                                providerData: providerData
                            }, null, '  ');
                        });

                        console.log("Signed In");
                    } else {
                        console.log("Signed Out");
                    }
                }, function(error) {
                    console.log(error);
                });
            };

            window.addEventListener('load', function() {
                initApp()
            });
    body
        nav.z-depth-3.white-text(ng-controller="navController")
            .nav-wrapper
                .container
                    .row
                        .col.s12
                            a(ng-click="home()", href="", class="brand-logo") Gro
                            //<ul id="nav-mobile" class="right hide-on-med-and-down input-field" ng-controller="registerController">
                            ul#nav-mobile.right.hide-on-med-and-down.input-field
                                li
                                    a(class="waves-effect waves-light btn", ng-click="register()") Register
                                    a(class="waves-effect waves-light btn", ng-click="login()") Log In
        main
            div(ng-view)
        footer
            #chat-area(ng-controller="chatController")
                .row
                    .col.right.white-text.chat-box
                        .chat-box-top.z-depth-3 Some mentor
                        .chat-box-middle.z-depth-3
                            div(ng-repeat="message in messages track by $index", align="right")
                                .chat-message.sent {{message}}
                        .chat-box-input.z-depth-3
                            input(type="text", name="chat", placeholder="Chat", id="chat", ng-model="chatMessage", ng-keypress="sendMessage($event)")
            .row
                p#copyright
                    small.grey-text &copy; 2017 Gro